<!DOCTYPE html>
 
<html>
    <head>
        <meta charset="UTF-8">
        <title>Home</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        
        <link rel="stylesheet" href="/stylesheets/home.css">
        <link rel="stylesheet" href="/stylesheets/global.css">
        <link rel="stylesheet" href="/stylesheets/barraScile.css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
        <!--<script src="https://kit.fontawesome.com/812a77d5cc.js" crossorigin="anonymous"></script>-->
        <link rel="https://fontawesome.com/">
        <title>Faustine</title>
        <!--<link rel="stylesheet" href="/stylesheets/style.css"-->
    </head>
 
    <body>
 
        <%- include('partials/header') %>
    <body class="body1">

    <main>
        <!-- partial:index.partial.html -->
<div class="slider">
	<div class="slide-track">
		<div class="slide">
			<!--<img id="imgBarra" src="images/gucci.1.SinFondo.png" height="100" width="250" alt="" />-->
            <img id="imgBarra" src="images/gucci.1.SinFondo.png">
		</div>
		<div class="slide">
			<!--<img id="imgBarra" src="images/dymsSinFondo.png" height="100" width="250" alt="" />-->
            <img id="imgBarra" src="images/bandoleraHombre1SinFondo.png">

		</div>
		<div class="slide">
			<!--<img id="imgBarra" src="images/carteraLouisRosa1.jpg" height="100" width="250" alt="" />-->
            <img id="imgBarraMediana" src="images/dymsSinFondo.png">

		</div>
		<div class="slide">
			<!--<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/4.png" height="100" width="250" alt="" />-->
            <img id="imgBarraGrande" src="images/bandoleraLouisSinFondo.png">
		</div>
		<div class="slide">
			
            <img id="imgBarraChica" src="images/New_2016_Louis_Vuitton_Bags.png">
		</div>
		<div class="slide">
			<img id="imgBarra" src="images/bandoleraAzulSinFondo.png" >
		</div>
		<div class="slide">
			<img id="imgBarra" src="images/mochilaGucciSinFondo.png">
		</div>
		<div class="slide">
			<img id="imgBarra" src="images/bandoleraRojaSinFondo.png" >
		</div>
		<div class="slide">
			<img id="imgBarraGrande" src="images/carteraColoresSinFondo.png" >
		</div>
		<div class="slide">
			<img id="imgBarra" src="images/bolsoLuoisSinFondo.png" >
		</div>
		<div class="slide">
			<img id="imgBarraGrande" src="images/mochilaColoresSinFondo.png" >
		</div>
		<div class="slide">
			<img id="imgBarra" src="images/carteraLouisRosa1.SinFondo.png" >
		</div>
		<div class="slide">
			<img  id="imgBarraGrande"src="images/mochilaNegraSinFondo.png" >
		</div>
		<div class="slide">
			<img id="imgBarra" src="images/mochilaGverdeSinFondo" >
		</div>
	</div>
</div>
<!-- partial -->

            <section class="productos">
                <div class="derecha">
                   
                    <div class="producto">
                         <div class="cajaGrande">
                            <a href="/product/detail/<%= producto[3].id %>"><img src="images/<%= producto[3].image_ppal %>" alt= "bolsos" class="bolsos1"></a>
                            <div class="cajaDetalle">
                            <h4><%= producto[3].name %> </h4>
                            <p id="titulo" ><%= producto[3].description %></p>
                            <br/>
                            <p>PRECIO : $<%= producto[3].price %></p>
                            <p id="oferta">Descuento: <%= producto[3].dto %> %</p>
                            </div>
                        </div>
                            <h3><%= producto[3].pType.type_name %> <span><a href="/product/detail/<%= producto[3].pType.id %>"><i class="fas fa-arrow-alt-circle-right"></i></a></span></h3> </h3>                     
                    </div>
                    <div class="producto">
                        <div class="cajaGrande">
                        <a href="product/detail/<%= producto[4].id %>"><img src="images/<%= producto[4].image_ppal %>" alt= "bandoleraCereza" class="carteras1"></a>
                        <div class="cajaDetalle">
                            <h4><%= producto[4].name %></h4>
                            <p id="titulo" ><%= producto[4].descritption %>"</p>
                            <br/>
                            <p>PRECIO : $ <%= producto[4].price %></p>
                            <p id="oferta">Descuento: <%= producto[4].dto %> %</p>
                            </div>
                        </div>   
                        <h3><%= producto[4].pType.type_name %><span><a href="/product/detail/<%=producto[4].pType.id%>"><i class="fas fa-arrow-alt-circle-right"></i></a></span></h3> </h3>                       
                        </div>
                    </div>
                <div class="izquierda">
                    <div class="producto">
                        <div class="cajaGrande">
                        <a href="/product/detail/<%= producto[6].id %>"><img id="bandoleraCereza" src="images/<%= producto[6].image_ppal %>" alt= "carteras" class="bandoleras1"></a>
                        <div class="cajaDetalle">
                            <h4><%= producto[6].name %></h4>
                            <p id="titulo" ><%= producto[6].description %></p>
                            <br/>
                            <p>PRECIO : $ <%= producto[6].price %></p>
                            <p id="oferta">Descuento: <%= producto[6].dto %> %</p>
                            </div>
                        </div> 
                        <h3><%= producto[6].pType.type_name %><span><a href="/product/detail/<%= producto[6].pType.id %>"><i class="fas fa-arrow-alt-circle-right"></i></a></span></h3> </h3>                         
                        
                       
                    </div>
                    <div class="producto">
                        <div class="cajaGrande">
                        <a href="product/detail/<%= producto[7].name %>"><img src="images/<%= producto[7].image_ppal %>" alt= "mochilas" class="mochilas1"></a>
                        <div class="cajaDetalle">
                        <h4><%= producto[7].name %> </h4>
                            <p id="titulo" ><%= producto[7].descritpcion %>"</p>
                            <br/>
                            <p>PRECIO : $ <%= producto[7].price %></p>
                            <p id="oferta">Descuento: <%= producto[7].dto %> %</p>
                            </div>
                        </div>   
                        <h3><%= producto[7].pType.type_name %><span><a href="/product/detail/<%= producto[7].pType.id %>"><i class="fas fa-arrow-alt-circle-right"></i></a></span></h3>    
                        
                                 
                </div>                          
            </section>
            <section>
                <div class="iconos">
 
                    <i class="fas fa-truck-moving" size></i>
                    <i class="fas fa-credit-card"></i>
                    <i class="fas fa-money-bill-wave"></i>
 
                </div>
                <div class="modo-pago">
                    <p>Envios a todo el país</p>          
                    <p>Pago en cuotas</p>
                    <p>Pago por transferencia</p>
                </div>                
                 
            </section>                     
    </main>
         
     <footer>
        <%- include('partials/footer') %>
        
    </body>
    
</html>