<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/812a77d5cc.js" crossorigin="anonymous"></script>
    <link rel="https://fontawesome.com/">
  
    <link rel="stylesheet" href="/stylesheets/login.css">
    <link rel="stylesheet" href="/stylesheets/global.css">
    <link rel="stylesheet" href="/stylesheets/home.css">
    <link rel="stylesheet" href="/stylesheets/modalSimple.css">

    <title>Login</title>
</head>

<body>
<main>
<div class="cuerpoLogin">    
    <%- include('partials/header') %>
    <h3>LISTADO de USUARIOS registrados</h3>  
            <div class="altaProductLogo">
              
                <ul>      
                <li id="altaLogo"><i class="fas fa-user-circle"></i></i></li>
                <li><a href="#modal2">Importante<i class="fas fa-user-edit"></i></a></li>
                </ul>            
            </div>
    <div class="paginaLogin"> 
        <section class="errores">
            <% if(typeof data!='undefined'){ %>
                <ul>                  
                    <li style="color: red;">USUARIO  Modificado Existosamente
            <% } %>
                </ul>            
        </section>
        <div class = "ppal">
            <br>
        <ul>
            <% for( let i = 0; i < users.length; i++ ) { %>
            <li> <img id="imgAvatar" src="/images/avatars/<%= users[i].avatar %>" >
            
            <a href="/users/detailOne/<%= users[i].id %>"><%= users[i].usuario %></a>
            </li>
            <% } %> 
        </ul>
        </div> 
            <div id="modal2" class="modalmask">            
                <div class="modalbox rotate">
                    <a href="#close" title="Close" class="close">X</a>
                    <h2>MODIFICAR UN USUARIO</h2>
                    <p> Ud. puede clickear sobre USUARIO que desea
                        modificar. 
                  </p>
               
                 </div>
            </div>
        </div>
        
        <div class="button">    
           <!--- <input type="submit" name="submit" class="boton1" value="Recibir Contraseña Registrada"> </input>
             <br/>   -->      
           <p id="volver"><a href="/" class= "boton1">Volver a Pagina Principal</a></p>
        </div>            
    </div> 
</form>  
</main>
</body>
    <footer>
        <%- include('partials/footer') %>       
    </footer>
</html>