<!DOCTYPE html>
 
<html>
    <head>
        <meta charset="UTF-8">
        <title>Home</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/stylesheets/home.css">
        <link rel="stylesheet" href="/stylesheets/global.css">
        <link rel="stylesheet" href="/stylesheets/altaProducto.css">
        <link rel="stylesheet" href="/stylesheets/updateProducto.css">
        <link rel="stylesheet" href="/stylesheets/modalSimple.css">
        <link rel="stylesheet" href="/stylesheets/listadosContenidosTablas.css">

        <script src="https://kit.fontawesome.com/812a77d5cc.js" crossorigin="anonymous"></script>
        <title>Faustine</title>
       
    </head>
 
<body> 
        <%- include('partials/header') %>
<main>
        <div class="altaProductLogo">
          
         <ul>      
            <li><img id="trashLogo" src ="/images/trash-can-solid.svg"></li>
            <li><a href="#modal2">Importante<i class="fas fa-user-edit"></i></a></li>
            </ul>            
        </div>
   
           <!--- <form action="/bproduct/delete/id?_method=DELETE" method="POST" >  --> 
                <div class="descriptionProduct"> 
                    <br/>                     
                   
                    <h3><%= mensaje %></h3>
                   
                    <h3 id="buscaH3"><%= mensaje2 %></h3>
                    
                    <div class = "listadoEnBaseGral">
                    <ul>
                        <% for( let i = 0; i < array.length; i++ ) { %>
                            <li><a href="/bproduct/detalle/<%= array[i].id %>">
                            <spam><%= array[i].name %>  <img id="archivo1" src="/images/<%=array[i].image_ppal %>"></spam></a> 
                            
                            </li> 
                             
                            <br/> 
                        <% } %>
                    </ul> 
                </div>                
                
                <div id="modal2" class="modalmask">            
                    <div class="modalbox rotate">
                        <a href="#close" title="Close" class="close">X</a>
                        <h2>IMPORTANTE</h2>
                        <p> Clickee el tipo de producto
                            que desea Comprar/VER</p>                    
                         
                        </div>
                </div>
                
          <!---      <div class="submitMasEnviar">          
                    <input type="submit" name="submit" id="irBaja" value="DAR BAJA TIPO DE PRODUCTO "> </input>
                </div> -->        
                <div class= "closeMain" >
                <a href="/" id="vuelvo">Volver a Pagina Principal</a>
                </div> 
               
       <!--- </form> -->
         
</main>
</body>
        <footer>                          
          
            <%- include('partials/footer') %>                
        </footer>   

</html>